.card-detail_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.card-detail_img img{
  width: 40%;
  margin: 3%;
}

.card-detail_img {
display: flex;
justify-content: center;
}

