.flexContainer a {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 25%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 20px;
  background-color: aliceblue;
  text-decoration: none;
  color: black;
  
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
