.Bnv{
    text-align: center;
    width: 100%;
}
.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ItemDetailContainer{
    width: 100%;
}