.header{
    display: flex;
    flex-direction: row;
    background-color: #61764B;
    text-decoration: none;
}
.logo{
    width: 10%;
}
.logo img{
    width: 100%;
    margin-top: 8px;
}

.navLinks{
    display: flex;
}
.navLinks a {
    margin-right:50px ;
    list-style: none;
    color: black;
    align-items:center ;
    font-size: 1.6rem;
    text-decoration: none;
}

.cart{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.navFlex{
    display: flex;
    align-items: center;
    margin-left: 40%;
}

