.App{
  margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #cfb99757;
    min-height: 100vh;
    height: 100%;
}
